In [2]:
cheeses = ['Cheddar', 'Edam', 'Gouda']
for cheese in cheeses:
    print cheese

Cheddar
Edam
Gouda

In [2]:
a=[1,2,3,4,5]
print(a[3:0:-1])

[4, 3, 2]

In [11]:
a[::-1] #reverse of a list

[5, 4, 3, 2, 1]

In [10]:
b[0:3]

[5, 4, 3]

In [7]:
numbers = [17, 123]
for i in range(len(numbers)):
    numbers[i] = numbers[i] * 2
    print numbers[i]

34
246

In [8]:
kklist = ['spam', 1, ['Brie', 'Roquefort', 'Pol le Veq'], [1, 2, 3]]

In [9]:
len(kklist)

4

In [12]:
empty = []
for x in empty:
    print 'This never happens.'

In [23]:
t3 = ['a','b','c']
t3.append('d')
t3

['a', 'b', 'c', 'd']

In [24]:
t1 = ['a', 'b', 'c']
t2 = ['d', 'e']

In [25]:
t1.extend(t2)

In [26]:
print t1

['a', 'b', 'c', 'd', 'e']

In [28]:
t = ['d', 'c', 'e', 'b', 'a']
t.sort()
print t

['a', 'b', 'c', 'd', 'e']

In [1]:
t = ['a', 'b', 'c']
x = t.pop(1)

In [2]:
x

'b'

In [31]:
t

['a', 'c']

In [32]:
t = ['a', 'b', 'c']
del t[1]
print t
['a', 'c']

['a', 'c']

['a', 'c']

In [33]:
t = ['a', 'b', 'c']
t.remove('b')
print t

['a', 'c']

In [34]:
t = ['a', 'b', 'c', 'd', 'e', 'f']
del t[1:5]
print t

['a', 'f']

In [2]:
numlist = list()
while ( True ) :
    inp = raw_input('Enter a number: ')
    if inp == 'done' : 
        break
    value = float(inp)
    numlist.append(value)
average = sum(numlist) / len(numlist)
print 'Average:', average

Enter a number: 7
Enter a number: done
Average: 7.0

In [4]:
t = ['pining', 'for', 'the', 'fjords']
delimiter = ' '
delimiter.join(t)

'pining for the fjords'

In [1]:
a=[1,2,3,4,5,6,7,8,9,10,11,12]
print(a[::2])

[1, 3, 5, 7, 9]

In [6]:
a[1:8:2]

[2, 4, 6, 8]

In [7]:
a[2:5:3]

[3]

In [8]:
a[2:11]

[3, 4, 5, 6, 7, 8, 9]

In [17]:
a[11:2]

[]

In [16]:
a[11:2:-1]

[9, 8, 7, 6, 5, 4]

In [24]:
b=[53]
a.extend(53)
a

TypeError: 'int' object is not iterable

In [31]:
b=[1,2,3,4,5]
b

[1, 2, 3, 4, 5]

In [32]:
b=[1,2,3,4,5]
del b[:2]
b

[3, 4, 5]

In [40]:
numbers=[1,2,3,4,5,6,4,4]
numbers.index(4)

3

In [41]:
numbers

[1, 2, 3, 4, 5, 6, 4, 4]

In [42]:
numbers.pop(4)

5

In [45]:
t = ['a', 'b', 'c', 'd', 'e', 'f']
del t[1:3]
t

['a', 'd', 'e', 'f']

In [49]:
data = [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
print data[0]
def fun(m):
    v = m[0][0]
    print v #v=1 
    for row in m:
        for element in row:
            if v < element: v = element

    return v
print(fun(data[0]))

[[1, 2], [3, 4]]
1
4

In [6]:
x=[1,5,7,9]
for i in range(0, len(x)):
    x[i]=x[i]*3
print x

[3, 15, 21, 27]

In [7]:
grades=pd.Series(data=[1,2,4,5])

NameError: name 'pd' is not defined

In [3]:
a=[1,2,3,4,5,6,7,8,9,10,11,12]
a[1:8:2] 
a[::-1]

[12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [4]:
a[2:5:3]

[3]

In [5]:
a=[1,2,3,4,5,6,7,8,9]
print(a[::2])

[1, 3, 5, 7, 9]

In [11]:
b=[1,2,3,4,5]
#del b[:2]
b.remove(2)
b

[1, 3, 4, 5]

In [12]:
a=[1,2,3,4,5]
print(a[3:0:-1])

[4, 3, 2]

In [19]:
import pandas as pd
names = pd.Series( data = ['Allen','Bob','Chris','Dave','Ed','Frank','Gus'])
gpas = pd.Series( data = [4.0, 3.0, 3.4, 2.8, 2.5, 3.8, 3.0])
years = pd.Series( data = ['So', 'Fr', 'Fr', 'Jr', 'Sr', 'Sr', 'Fr'])
series_dict = { 'Name':  names, 'GPA': gpas, 'Year' : years }  # dict of Series, keys are the series names
students = pd.DataFrame( series_dict )
students
students['Name']
students[['Name']]

    Name
0  Allen
1    Bob
2  Chris
3   Dave
4     Ed
5  Frank
6    Gus