In [6]:
X = { 'names' : ['bob','steve','art'], 'ages' : [21,30,24] } 
type(X)
X['names'][0]
type(X['ages'])

list

In [22]:
a=[1,2,3,4,5,6,7,8,9,10,11,12]
a[::2]

[1, 3, 5, 7, 9, 11]

In [9]:
a[1:8:2]

[2, 4, 6, 8]

In [11]:
a[::-1]

[12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [12]:
a[2:5:3]

[3]

In [25]:
a.append(53)
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 53, [53], 53]

In [26]:
a[53]

IndexError: list index out of range

In [30]:
hybrid_list = ['spam', 2.0, 5, [10, 20]]
print(hybrid_list[4])

IndexError: list index out of range

In [32]:
my_cupboard = {'shirts':5,'pants':3,'cardigans':12,'shoes':1}
print(my_cupboard['cardigans']%my_cupboard['shirts'])

2

In [34]:
range(0,5)

range

In [ ]:
def list_mod(x): 
    for i in range(0, len(x)):
        ???????
    return x

#x[i]=x[i]*3

In [37]:
list_mod([1,5,8,2])

[3, 15, 24, 6]

In [43]:
cap_list = [{'shirts':5,'pants':3,'cardigans':12,'shoes':1},{'skirts':14,'sweaters':6},['socks','shirts','sweaters']]
#Q.A:
cap_list[1]['sweaters']   
#Ans:

#Q.B:
cap_list[1][0]
#Ans:

#Q.C:
cap_list[2][0]
#Ans:

KeyError: 0

In [48]:
counts = { 'chuck' : 1 , 'annie' : 42, 'jan': 100,'amy':101}
lst = list(counts.keys())
print(lst)

['chuck', 'annie', 'jan', 'amy']

In [51]:
counts = { 'chuck' : 1 , 'annie' : 42, 'jan': 100}
#Q.A
print(counts.get('jan', 0))
#Q.B
print(counts.get('tim', 0))

100
0

In [56]:
import requests
data = { 'name' : 'mike', 'age' : 45 }
response = requests.get('https://httpbin.org/get', params = data) # make and execute the request to URL in one step!
print(type(response))
if response.ok:
    object_data = response.json() # read and de-serialize in one step!
    print(type(object_data))
else:
    print(response.status_code, response.reason)

<class 'requests.models.Response'>
<class 'dict'>

In [58]:
import pandas as pd
names = pd.Series( data = ['Allen','Bob','Chris','Dave','Ed','Frank','Gus'])
gpas = pd.Series( data = [4.0, 3.0, 3.4, 2.8, 2.5, 3.8, 3.0])
years = pd.Series( data = ['So', 'Fr', 'Fr', 'Jr', 'Sr', 'Sr', 'Fr'])
series_dict = { 'Name':  names, 'GPA': gpas, 'Year' : years }  # dict of Series, keys are the series names
students = pd.DataFrame( series_dict )
students

    Name  GPA Year
0  Allen  4.0   So
1    Bob  3.0   Fr
2  Chris  3.4   Fr
3   Dave  2.8   Jr
4     Ed  2.5   Sr
5  Frank  3.8   Sr
6    Gus  3.0   Fr

In [64]:
students.to_dict('dict')

{'Name': {0: 'Allen',
  1: 'Bob',
  2: 'Chris',
  3: 'Dave',
  4: 'Ed',
  5: 'Frank',
  6: 'Gus'},
 'GPA': {0: 4.0, 1: 3.0, 2: 3.4, 3: 2.8, 4: 2.5, 5: 3.8, 6: 3.0},
 'Year': {0: 'So', 1: 'Fr', 2: 'Fr', 3: 'Jr', 4: 'Sr', 5: 'Sr', 6: 'Fr'}}